{% extends 'base.html' %}
{% block content %}

<h1>Collection List</h1>

{% for collection in collection_list %}
  <a href="{% url 'collections_detail' collection.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ collection.name }}</span>
        </div>
        <div class="card-action">
          <a href="{% url 'collections_update' collection.id %}">Edit</a>
          <a href="{% url 'collections_delete' collection.id %}">Delete</a>
        </div>
    </div>
  </a>
{% endfor %}

{% endblock %}