{% extends 'base.html' %}
{% block content %}

<h1>Lego Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ lego.name }}</span>
        <p>Pieces: {{ lego.pieces }}</p>
        <p>Availability: {{ lego.availability }}</p>
        <p>Age: {{ lego.minimum_age }}+</p>
      </div>
      <div class="card-action">
        <a href="{% url 'legos_update' lego.id %}">Edit</a>
        <a href="{% url 'legos_delete' lego.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'add_figure' lego.id %}" method="POST">
      {% csrf_token %}
      {{ figure_form.as_p }}
      <input type="submit" class="btn" value="Add Figure to Set">
    </form>
    {% if lego.figure_set.all %}
    <table class="striped">
      <thead>
        <tr>
          <th>Figure Name</th>
          <th>Image</th>
        </tr>
      </thead>
      <tbody>
        {% for figure in lego.figure_set.all %}
          <tr>
            <td>{{figure.name}}</td>
            <td>"image will go here!"</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <br><h6>This set has no figures :(</h6>
    {% endif %}
  </div>
</div>
<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ lego.name }}'s Collections</h3>
    {% if lego.collections.count %}
    {% for collection in lego.collections.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          {{ collection.name }}
        </span>
        <p>Associated Sets:</p>
        {% for lego in collection.lego_set.all %}
          <p>{{ lego.name }}</p>
        {% endfor %}
      </div>
      <div class="card-action">
        <form action="{% url 'unassoc_collection' lego.id collection.id %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn">Remove</button>
        </form>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <h5>No Associated Collections</h5>
    {% endif %}
  </div>
  <div class="col s6">
    <h3>Other Collections</h3>
    {% if collections.count %}
    {% for collection in collections.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          {{ collection.name }}
        </span>
        <p>Associated Sets:</p>
        {% for lego in collection.lego_set.all %}
        <p>{{ lego.name }}</p>
      {% endfor %}
      </div>
      <div class="card-action">
        <form action="{% url 'assoc_collection' lego.id collection.id %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn">Add</button>
        </form>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <h5>{{lego.name}} is associated with all available Collections</h5>
    {% endif %}
  </div>
</div>
{% endblock %}
