{% extends 'base.html' %}
{% block content %}

    <h1>About the Lego Collector</h1>
    <hr />
    <div id="about-page">
        <div>
            <img src="https://i.imgur.com/LFbCbzK.png" id="about" alt="The Lego Collector">
        </div>
        <div>
            <p>Welcome to LegoCollector! Tired of misplacing your Lego figures? Want to complete your collection but don't know how? I'm your gal!</p>
        </div>
    </div>
<footer>All Rights Reserved, &copy; 2022 Lego Collector</footer>

{% endblock %}
