{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lego Collector</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="https://i.imgur.com/cM9I4jx.png" />
</head>
<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
          {% if user.is_authenticated %}
            <ul>
              <li><a href="/" class="left brand-logo" id="logocolor">&nbsp;&nbsp;{{ user.username }}'s LegoCollector</a></li>
            </ul>
            <ul class="right">
              <li><a href="{% url 'collections_create' %}" id="navcolor">Add a Collection</a></li>
              <li><a href="{% url 'collections_index' %}" id="navcolor">View All Collections</a></li>
              <li><a href="{% url 'legos_create' %}" id="navcolor">Add a Lego Set</a></li>
              <li><a href="{% url 'index' %}" id="navcolor">View All My Legos</a></li>
              <li><a href="{% url 'logout' %}" id="navcolor">Log Out</a></li>
            </ul>
          {% else %}
          <ul>
            <li><a href="/" class="left brand-logo" id="logocolor">&nbsp;&nbsp;LegoCollector</a></li>
          </ul>
          <ul class="right">
            <li><a href="{% url 'about' %}" id="navcolor">About</a></li>
            <li><a href="{% url 'signup' %}" id="navcolor">Sign Up</a></li>
            <li><a href="{% url 'login' %}" id="navcolor">Log In</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer">
    <div class="right">All Rights Reserved, &copy; 2022 Bev the Dev &nbsp;</div>
  </footer>
</body>
</html>